<h2>Edit Beer <%= link_to "(+)", new_beer_path %></h2>

<%= form_for @beer do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :brewery %>
<%= f.text_field :brewery %>

<%= f.label :style %>
<%= f.text_field :style %>

<%= f.submit %>
<% end %>

<%= link_to "Delete!", @beer, method: :delete, class: "delete" %>
