<h2><%= @restaurant.name %> <%= link_to "(edit)", edit_restaurant_path(@restaurant) %></h2>
<h4><%= @restaurant.neighborhood %></h4>
<h4><%= @restaurant.beer %></h4>

<img class='restaurant-photo' src="<%= @restaurant.photo_url %>">

<h3>Beers <%= link_to "(+)", new_restaurant_beer_path(@restaurant) %></h3>
