<h2>Edit Brewery</h2>

<%= form_for @brewery do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :neighborhood %>
<%= f.text_field :neighborhood %>

<%= f.label :beer %>
<%= f.text_field :beer %>

<%= f.label :photo_url %>
<%= f.text_field :photo_url %>

<%= f.submit %>
<% end %>

<%= link_to "Delete", @brewery, method: :delete, class: "delete" %>
