<h2>New Brewery</h2>

<%= form_for @brewery do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :neighborhood %>
<%= f.text_field :neighborhood %>

<%= f.label :beer %>
<%= f.text_field :beer %>

<%= f.submit %>
<% end %>
