<h2>Edit Restaurant</h2>

<%= form_for @restaurant do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :neighborhood %>
<%= f.text_field :neighborhood %>

<!-- NHO: what's the purpose of this beer field? -->
<%= f.label :beer %>
<%= f.text_field :beer %>

<%= f.label :photo_url %>
<%= f.text_field :photo_url %>

<%= f.submit %>
<% end %>

<%= link_to "Delete", @restaurant, method: :delete, class: "delete" %>
